@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h3 class="text-secondary-emphasis">Clínica Médica</h3>
	<p><a class="btn btn-outline-light btn-lg" asp-controller="Agendas" asp-action="Create">Agende sua consulta</a></p>
	<img src="~/novapasta1/imag.png" height="550px" />




</div>
