@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h3 class="text-secondary-emphasis">Clínica Médica</h3>
	<p><a class="btn btn-outline-light btn-lg" asp-area="Identity" asp-page="/Account/Login">Entrar</a></p>
	<img src="~/novapasta1/img1.jpg" height="550px" />




</div>
