@{
	ViewData["Title"] = "Sobre nossos agendamentos";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<h4 class="text-center">🌟 Cuidar da sua saúde nunca foi tão fácil!</h4>

<p class="text-center">No nosso site, você encontra praticidade, segurança e atenção em cada detalhe. Estamos aqui para conectar você aos melhores médicos de forma rápida e descomplicada.</p>
<h5 class="text-center">✨ Com apenas alguns cliques, você pode:</h5>
<p class="text-center">  🩺 Encontrar especialistas em diversas áreas da saúde.</p>
<p class="text-center">   💻 Escolher entre consultas presenciais ou por telemedicina.</p>
<p class="text-center">  ⏰ Agendar no horário que combina com a sua rotina.</p>
<p class="text-center">  🔔 Receber lembretes automáticos para não esquecer sua consulta.</p>
<p class=" text-center"> 📂 Acessar todo o seu histórico médico em um só lugar.</p>

<p class="text-center">Nossa missão é cuidar de você com humanidade e tecnologia, tornando o atendimento médico mais próximo, moderno e acessível.</p>

<p class="text-center">   💙 Porque saúde não pode esperar!</p>
<p class="text-center">  👉 Agende sua consulta agora e dê o primeiro passo para o seu bem-estar..</p>
